.contact {
  background: #000;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Subtitle */
.contact-subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ccc;
  font-size: 1.1rem;
}

/* Email box */
.contact-email {
  display: inline-block;
  padding: 16px 32px;
  border: 2px solid #e10600;
  border-radius: 6px;
  color: #e10600;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  margin: 0px 0px 20px 0px;
  text-decoration: none;

  transition: 
    background 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}

/* Hover effect */
.contact-email:hover {
  background: #e10600;
  color: #000;
  transform: translateY(-2px);
}
